@import "./core/variables.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow-y: hidden;
  box-sizing: border-box;
}

.section {
  overflow-y: auto;

  .section-header {
    font-size: 0.7rem;
  }
}

input,
select,
textarea {
  height: 2rem;
  padding-left: 8px;
  background-color: transparent;
  border: solid 1px $border-grey;
  border-radius: $border-radius;

  &::placeholder {
    color: $content-grey;
  }
}

select {
  height: 2.3rem;
}

.navigation {
  height: 100%;
  max-width: 13rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.btn,
button {
  font-family: Inter;
  background-color: $black;
  color: $white;
  height: 2.2rem;
  border: none;
  cursor: pointer;
  border-radius: $border-radius;
  position: relative;
  transition: background-color 0.3s;

  &:hover {
    top: -2px;
  }

  &:disabled {
    border: none;
    background-color: $grey;
    pointer-events: none;
  }
}
