@import "./core/variables.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow-y: hidden;
  box-sizing: border-box;
}
.section {
  overflow-y: auto;
}

.navigation {
  height: 100%;
  max-width: 13rem;
}

.container input,
select,
textarea {
  height: 2rem;
  padding-left: 8px;
  background-color: transparent;
  border: solid 1.5px $border-grey;
  border-radius: 6px;

  &::placeholder {
    color: $content-grey;
  }
}

.container .btn,
button {
  font-family: Inter;
  background-color: #000000;
  color: white;
  height: 2.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  position: relative;
  transition: background-color 0.3s;

  &:hover {
    top: -2px;
  }

  &:disabled {
    background-color: $grey;
    pointer-events: none;
  }
}

h4 {
  margin: 0;
  padding: 0;
}
