.signin.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem;

    
}
.redirect-link {
    font-size: 13px;
    
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
form .error-message {
    background-color: red;
    padding: 10px 15px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
}